Repository Shannon-Labs/driftlock: changes, and which Codecov flags are due for each by the changed paths.
All: backend, rust

fix(security): Phase 3 security hardening
  api/migrations/20251202000001_verification_token_expiry.sql
  collector-processor/cmd/driftlock-collector/Dockerfile
  collector-processor/cmd/driftlock-http/Dockerfile
  collector-processor/cmd/driftlock-http/db.go
  collector-processor/cmd/driftlock-http/email.go
  collector-processor/cmd/driftlock-http/main.go
  collector-processor/cmd/driftlock-http/onboarding.go
Due: backend

docs: polish README for pre-launch positioning
  README.md
Due: none

fix(api): correct Firebase→Cloud Run routing
  collector-processor/cmd/driftlock-http/main.go
  landing-page/firebase.json
Due: backend

docs: complete OpenAPI spec and add AI integration guide
  docs/architecture/api/openapi.yaml
  landing-page/public/docs/ai-agents/INTEGRATION.md
  landing-page/public/docs/architecture/api/openapi.yaml
  landing-page/public/docs/use-cases/general-anomaly-detection.md
Due: none

Update README status with roadmap alignment
  README.md
Due: none

Update README.md
  README.md
Due: none

fix(ci): remove ghost submodule entry and obsolete demo workflow
  .github/workflows/yc-ready.yml
Due: none

feat: add stream anchors, waitlist, and CBAD tokenizer
  .dev_docs/AGENTS.md
  .dev_docs/AUDIT_REPORT.md
  .dev_docs/CRACKED_DEV_GEMINI.md
  CLAUDE.md
  README.md
  api/migrations/20251203000000_waitlist.sql
  api/migrations/20251205000000_stream_calibration.sql
  api/migrations/20251207000000_stream_anchors.sql
  api/migrations/20251208000000_numeric_outlier_settings.sql
  collector-processor/cmd/driftlock-http/anchor.go
  collector-processor/cmd/driftlock-http/anchor_helpers.go
  collector-processor/cmd/driftlock-http/anchor_helpers_test.go
  collector-processor/cmd/driftlock-http/db.go
  collector-processor/cmd/driftlock-http/demo.go
  collector-processor/cmd/driftlock-http/e2e_cbad_test.go
  collector-processor/cmd/driftlock-http/main.go
  collector-processor/cmd/driftlock-http/waitlist.go
  collector-processor/driftlockcbad/numeric_stats.go
  collector-processor/driftlockcbad/numeric_stats_test.go
  collector-processor/driftlockcbad/tokenizer.go
  collector-processor/driftlockcbad/tokenizer_test.go
  docs/architecture/api/openapi.yaml
  landing-page/.firebase/hosting.ZGlzdA.cache
  landing-page/src/components/cta/WaitlistForm.vue
  landing-page/src/components/sections/HorizonShowcase.vue
  landing-page/src/stores/auth.ts
  landing-page/src/views/HomeView.vue
Due: backend

fix(ci): fix TruffleHog base/head for push events
  .github/workflows/security.yml
Due: none

fix(deps): regenerate landing-page package-lock.json
  landing-page/package-lock.json
Due: none

fix: audit fixes for enterprise tier and onboarding
  api/migrations/20251119000000_add_stripe_fields.sql
  collector-processor/cmd/driftlock-http/dashboard.go
  landing-page/src/components/cta/SignupForm.vue
Due: backend

feat: add self-serve Enterprise tier at $299/month
  collector-processor/cmd/driftlock-http/billing.go
  collector-processor/cmd/driftlock-http/usage.go
  landing-page/src/views/HomeView.vue
Due: backend

refactor: code quality sprint - DRY, types, and cleanup
  collector-processor/cmd/driftlock-http/billing.go
  collector-processor/cmd/driftlock-http/billing_cron.go
  collector-processor/cmd/driftlock-http/dashboard.go
  collector-processor/cmd/driftlock-http/onboarding.go
  collector-processor/cmd/driftlock-http/usage.go
  collector-processor/cmd/driftlock-http/webhook_retry.go
  landing-page/.eslintrc.cjs
  landing-page/src/components/cta/SignupForm.vue
  landing-page/src/components/dashboard/AIUsageWidget.vue
  landing-page/src/components/playground/CurlSnippet.vue
  landing-page/src/components/playground/PlaygroundShell.vue
  landing-page/src/types/api.ts
  landing-page/src/views/DashboardView.vue
  landing-page/src/views/HomeView.vue
Due: backend

fix: production audit fixes - version endpoint, plan validation, emails
  PRODUCTION_AUDIT_REPORT.md
  collector-processor/cmd/driftlock-http/email.go
  collector-processor/cmd/driftlock-http/main.go
  collector-processor/cmd/driftlock-http/onboarding.go
Due: backend

Add zlab compression support and docs
  cbad-core/src/compression/fallback.rs
  cbad-core/src/compression/mod.rs
  cbad-core/src/ffi.rs
  collector-processor/cmd/driftlock-http/main.go
  collector-processor/driftlockcbad/detector.go
  docs/ai-agents/AGENTS.md
  docs/ai-agents/DOCKER-BUILD-STATUS.md
  docs/ai-context/AI_HANDOFF_OPENZL_TESTING.md
  docs/ai-context/AI_TESTING_PROMPT.md
  docs/architecture/ALGORITHMS.md
  docs/architecture/API.md
  docs/architecture/api/openapi.yaml
  docs/development/TESTING.md
  docs/development/decision-log.md
  docs/launch/ROADMAP_TO_LAUNCH.md
  docs/user-guide/api/endpoints/detect.md
  docs/user-guide/getting-started/GETTING_STARTED.md
  docs/user-guide/getting-started/QUICKSTARTS.md
Due: backend, rust

fix: increase demo event limit to 200 and reduce baseline to 30 for effective anomaly detection
  collector-processor/cmd/driftlock-http/demo.go
Due: backend

Path conditions:
  backend: any of: collector-processor/, api-server/, but not: **/*_test.go, **/testdata/**, **/mocks/**, **/*.pb.go, tools/**, scripts/**
  rust: any of: cbad-core/, but not: **/*_test.go, **/testdata/**, **/mocks/**, **/*.pb.go, tools/**, scripts/**
