Repository Shannon-Labs/driftlock: changes, and which Codecov flags are due for each by the changed paths.
All: backend, rust

fix: update SendGrid from address to use verified email
  infrastructure/gcp/cloudbuild.yaml
Due: none

fix: add validation to demo endpoint to prevent DoS attacks
  collector-processor/cmd/driftlock-http/demo.go
Due: backend

feat: add Gemini AI integration for anomaly explanations
  collector-processor/internal/ai/client.go
  collector-processor/internal/ai/gemini_client.go
  deploy/docker-compose.yml
  prompts/CLAUDE_CODE_LAUNCH_PROMPT.md
Due: backend

security: remove exposed .env.production and harden .gitignore
  .gitignore
Due: none

chore: redact leaked credentials
  prompts/CLAUDE_CODE_LAUNCH_PROMPT.md
Due: none

fix: newline delimiters in cbad-core and updated tests
  CONTRIBUTING.md
  cbad-core/src/ffi.rs
  cbad-core/src/lib.rs
  cbad-core/src/window.rs
  collector-processor/cmd/driftlock-http/auth.go
  collector-processor/cmd/driftlock-http/billing.go
  collector-processor/cmd/driftlock-http/billing_cron.go
  collector-processor/cmd/driftlock-http/billing_middleware.go
  collector-processor/cmd/driftlock-http/db.go
  collector-processor/cmd/driftlock-http/demo.go
  collector-processor/cmd/driftlock-http/e2e_billing_full_test.go
  collector-processor/cmd/driftlock-http/e2e_test.go
  collector-processor/cmd/driftlock-http/main.go
  collector-processor/driftlockcbad/demo_config_test.go
  collector-processor/driftlockcbad/detector.go
  collector-processor/driftlockcbad/test_delimiter_fix.go
  collector-processor/internal/ai/sanitize.go
  collector-processor/test_output.txt
  collector-processor/test_output_2.txt
  collector-processor/test_output_3.txt
  collector-processor/test_output_4.txt
  collector-processor/test_output_5.txt
  collector-processor/test_output_6.txt
  collector-processor/test_output_7.txt
  collector-processor/test_output_8.txt
  deploy/docker-compose.yml
  docs/sdk/README.md
  docs/user-guide/api/examples/python-examples.md
  functions/src/index.ts
  landing-page/src/components/dashboard/AIUsageWidget.vue.bak
  payload_40.json
  press/README.md
  press/fact-sheet.md
  scripts/test-stripe-webhooks.sh
  test_payload.json
  verify_payload.json
Due: backend, rust

feat: add mock AI provider support for deployment
  collector-processor/internal/ai/client.go
  collector-processor/internal/ai/mock_client.go
  infrastructure/gcp/cloudbuild.yaml
Due: backend

docs: update LAUNCH_STATUS.md to 100% launch ready
  docs/LAUNCH_STATUS.md
Due: none

feat: replace magic link auth with email/password + Google sign-in
  landing-page/src/router/index.ts
  landing-page/src/stores/auth.ts
  landing-page/src/views/LoginFinishView.vue
  landing-page/src/views/SignupView.vue
Due: none

fix: update DetectorWrapper visibility for FFI compliance
  cbad-core/src/ffi.rs
  extensions/vscode-driftlock/package.json
Due: rust

feat: add adaptive sliding scales detection system
  api/migrations/20251207000001_adaptive_detection.sql
  collector-processor/cmd/driftlock-http/adaptive_features_test.go
  collector-processor/cmd/driftlock-http/adaptive_handlers.go
  collector-processor/cmd/driftlock-http/adaptive_windowing.go
  collector-processor/cmd/driftlock-http/autotune.go
  collector-processor/cmd/driftlock-http/db.go
  collector-processor/cmd/driftlock-http/detection_plan_test.go
  collector-processor/cmd/driftlock-http/main.go
  collector-processor/cmd/driftlock-http/profiles.go
  collector-processor/driftlockcbad/demo_config_test.go
Due: backend

docs: add verification QA prompt for zero-config UX validation
  prompts/VERIFICATION_QA_PROMPT.md
Due: none

fix: sync docs pricing with homepage tiers
  landing-page/public/docs/README.md
  landing-page/public/docs/user-guide/api/endpoints/detect.md
  landing-page/public/docs/user-guide/api/rest-api.md
  landing-page/public/docs/user-guide/getting-started/authentication.md
Due: none

docs: comprehensive documentation update with refreshed IA, tutorials, and operations guides
  docs/README.md
  docs/user-guide/README.md
  docs/user-guide/api/endpoints/anomalies.md
  docs/user-guide/api/endpoints/detect.md
  docs/user-guide/api/examples/curl-examples.md
  docs/user-guide/api/examples/python-examples.md
  docs/user-guide/api/rest-api.md
  docs/user-guide/getting-started/authentication.md
  docs/user-guide/getting-started/concepts.md
  docs/user-guide/getting-started/quickstart.md
  docs/user-guide/guides/adaptive-windowing.md
  docs/user-guide/guides/auto-tuning.md
  docs/user-guide/guides/detection-profiles.md
  docs/user-guide/guides/operations.md
  docs/user-guide/tutorials/feedback-loop.md
  docs/user-guide/tutorials/profiles-tutorial.md
Due: none

feat: enhance landing page with compression focus and dashboard separation
  docs/deployment/CLOUDFLARE_MIGRATION.md
  docs/user-guide/README.md
  docs/user-guide/api/endpoints/anomaly-detail.md
  docs/user-guide/tutorials/README.md
  docs/user-guide/tutorials/llm-output-drift.md
  docs/user-guide/tutorials/log-monitoring.md
  docs/user-guide/tutorials/metrics-spike-detection.md
  docs/user-guide/tutorials/webhook-alerting.md
  landing-page/.firebase/hosting.ZGlzdA.cache
  landing-page/public/docs/README.md
  landing-page/public/docs/user-guide/README.md
  landing-page/public/docs/user-guide/api/endpoints/anomalies.md
  landing-page/public/docs/user-guide/api/endpoints/anomaly-detail.md
  landing-page/public/docs/user-guide/api/examples/curl-examples.md
  landing-page/public/docs/user-guide/api/examples/python-examples.md
  landing-page/public/docs/user-guide/getting-started/concepts.md
  landing-page/public/docs/user-guide/getting-started/quickstart.md
  landing-page/public/docs/user-guide/guides/operations.md
  landing-page/public/docs/user-guide/tutorials/README.md
  landing-page/public/docs/user-guide/tutorials/feedback-loop.md
  landing-page/public/docs/user-guide/tutorials/llm-output-drift.md
  landing-page/public/docs/user-guide/tutorials/log-monitoring.md
  landing-page/public/docs/user-guide/tutorials/metrics-spike-detection.md
  landing-page/public/docs/user-guide/tutorials/profiles-tutorial.md
  landing-page/public/docs/user-guide/tutorials/webhook-alerting.md
  landing-page/src/App.vue
  landing-page/src/layouts/DashboardLayout.vue
  landing-page/src/router/index.ts
  landing-page/src/utils/payload.ts
  landing-page/src/views/AnalyzeView.vue
  landing-page/src/views/HomeView.vue
  landing-page/tests/payload.spec.ts
  net_index.html
  scripts/deploy-cloudflare.sh
  scripts/run_crypto_test_with_monitoring.sh
  scripts/setup-crypto-test.js
  scripts/start_crypto_test_sensitive.sh
  web_index.html
Due: none

docs: API documentation, troubleshooting guide, and billing E2E tests
  docs/architecture/api/openapi.yaml
  docs/user-guide/README.md
  docs/user-guide/guides/troubleshooting.md
  landing-page/tests/billing.spec.ts
Due: none

feat: enhance demo rate limiter with cleanup functionality
  collector-processor/cmd/driftlock-http/demo.go
  collector-processor/cmd/driftlock-http/demo_rate_limiter_debug_test.go
Due: backend

feat: unify tier naming (Free/Pro/Team/Enterprise) + evidence-native schema
  api/migrations/20251214000000_evidence_native.sql
  api/migrations/20251214100000_unify_plan_names.sql
  docs/user-guide/getting-started/GETTING_STARTED.md
  landing-page/public/docs/user-guide/getting-started/GETTING_STARTED.md
  landing-page/src/views/HomeView.vue
Due: none

chore: update Stripe setup script for new tiers (Starter/Pro/Team/Scale)
  scripts/setup-stripe.sh
Due: none

Path conditions:
  backend: any of: collector-processor/, api-server/, but not: **/*_test.go, **/testdata/**, **/mocks/**, **/*.pb.go, tools/**, scripts/**
  rust: any of: cbad-core/, but not: **/*_test.go, **/testdata/**, **/mocks/**, **/*.pb.go, tools/**, scripts/**
